/*CSS-са е малко не подреден за сега.*/

body{
    background: rgb(166, 226, 117);
    padding: 0px;
    margin: 0px;
}

header, footer, html{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.hello:hover{
    color:white;
}

nav{
    display: block;
    margin: 0px;
    padding: 0px;
}

nav ul li a{
    color:rgb(252, 98, 98);   
}

nav ul li{
    display: inline; 
}

.HeadOrFoot{
    background-color:rgb(38, 114, 28);
}

.contacts{
    color:white;
}

footer div p:hover{
    color:rgb(102, 143, 255);
}

.skillList{
    border-left: 1px solid red;
}

.skillList li:hover{
    color:rgb(235, 12, 205);
}

#BorAndPadAndMar{
    border: 3px solid rgb(38, 114, 28);
    padding: 6px;
    margin: auto;
    width: 273px;
}

.footerPad{
    border: 1px solid rgba(0,0,0,0);
    padding: 6px 10px;
}

.icon{
    width: 30px;
    height: 30px;
}

*:not(body):not(header):not(footer):not(html):not(nav){
    margin: 10px;
}

#timer{
    color: aliceblue;
    border: black 3px solid;
    display: block;
    float: right; 
    font-weight: bold;
}
