.timer-img{
    width: 100px;
    display: none;
    margin-right: 45px;
    float: right;
}

.timer-img.show{
    display: block;
}

.time-up-img{
    width: 100px;
    display: block;
    margin-right: 45px;
    float: right;
}

.time-up-img.hide{
    display: none;
}

.time-up-img.show{
    display: block;
}

.button-timer{
    display: block;
    height: 48px;
    width: 115px;
    font-size: 12px;
}

.button-timer.show{
    display: block;
}

.button-timer.hide{
    display: none;
}

#timer{
    color: rgb(80, 0, 80);
    border: black 3px solid;
    display: inline-block;
    font-weight: bold;
    width: 90px;
    height: 36px;
    font-size: 36px;
    padding: 5px 10px;
    margin: 10px;
}

#timer-zone{
    /*vertical-align: top;*/
    background-color:rgba(255, 251, 0, 0.5);
    height:300px;
    /*display: inline-flex;*/
    /*justify-content: center;
	align-items: center;*/
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}