body{
    background: rgb(166, 226, 117);
}

.hello:hover{
    color:white;
}

.nav{
    display: block;
}

.HeadOrFoot{
    background-color:rgba(38, 114, 28, 0.671);
}

.contacts{
    color:white;
}

footer div p:hover{
    color:rgb(15, 70, 221);
}

.skillList:hover{
    color:rgb(0, 0, 0);
}

.skillList li:hover{
    color:rgb(235, 12, 205);
}