body{
    background: rgb(166, 226, 117);
}

h1{
    color:white;
}

nav{
    display: block;
}

header{
    background-color:rgba(38, 114, 28, 0.671);
}

footer{
    background-color:rgba(38, 114, 28, 0.671);
}

.contacts{
    color:white;
}